<div class="modal-header">
   <h2 class="modal-title">Application Details</h2>
</div>
<div class="modal-body">
   <tabset justified="true">
      <tab heading="Application">
         <br>
         <br>
         <b>Full application:</b>
         <br>
         <div ng-repeat="n in fields">
            <div class="applicationDetail" style="clear: both">
               <p data-ng-bind='n.disp+ ": " + getprop(application, n.field, "")'></p>
            </div>
         </div>

         <div class="applicationFooter"></div>
         <br>
      </tab>
      <tab heading="Percentile Charts">
         <br>
         <br>
         <p><b>GRE and TOEFL score and subscore percentiles:</b></p>
         <br>
         <p> GRE Overall: 43.3% </p>
         <p> GRE Math: 25.7% </p>
         <p> GRE Reading: 70.3% </p>
         <p> GRE Writing: 80.4% </p>

         <br>

         <p> TOEFL Overall: 54.0% </p>
         <p> TOEFL Reading: 75.2% </p>
         <p> TOEFL Listening: 27.7% </p>
         <p> TOEFL Speaking: 99.3% </p>
         <p> TOEFL Writing: 54.4% </p>

      </tab>
      <tab heading="Comments">
        <br>
        <br>
        <b>Submit a Comment</b>

        <div style="margin-bottom: 50px; width: 50%;">
           Name: <input class='comments name' type="text" placeholder="username">
           <br>
           <textarea class='comments body' rows="5" placeholder="Begin writing a comment here..."></textarea>
           <br>
           <input type="submit" class="btn btn-default">
        </div>

        <div style="margin-bottom: 50px; width: 50%;"> <!-- Prior Comments Area -->
        <accordion close-others="oneAtATime">
          <accordion-group heading="Comments History" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <div style="padding:10px; border: solid 1px;">
               <div class='comments body submitted' type="text" value="comment" readonly>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor justo vitae justo dignissim vestibulum. Fusce eleifend enim vitae tellus semper consectetur. Vestibulum nec lacus lorem. Proin in facilisis augue. Praesent pellentesque quam urna, eu placerat justo viverra ac. Aenean a condimentum velit. Aliquam posuere, leo nec semper porta, mauris libero tincidunt ipsum, at ultrices quam leo sit amet diam. Vestibulum feugiat orci eu velit cursus, sed aliquam dui interdum. Fusce sit amet lacus auctor, suscipit mi vel, cursus diam. Nunc eu hendrerit metus. Phasellus in facilisis lacus. Morbi viverra, eros eu feugiat vehicula, ipsum mi viverra neque, at fermentum lorem mi et purus.
               </div>
               <div class='comments name submitted' type="text" value="Name" readonly>
                 Andrew Jackson
               </div>
            </div>
          <br>
          <br>
          <div style="padding:10px; border: solid 1px;">
            <div class= 'comments body submitted' type="text" value="comment" readonly>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor justo vitae justo dignissim vestibulum. Fusce eleifend enim vitae tellus semper consectetur. Vestibulum nec lacus lorem. Proin in facilisis augue. Praesent pellentesque quam urna, eu placerat justo viverra ac. Aenean a condimentum velit. Aliquam posuere, leo nec semper porta, mauris libero tincidunt ipsum, at ultrices quam leo sit amet diam. Vestibulum feugiat orci eu velit cursus, sed aliquam dui interdum. Fusce sit amet lacus auctor, suscipit mi vel, cursus diam. Nunc eu hendrerit metus. Phasellus in facilisis lacus. Morbi viverra, eros eu feugiat vehicula, ipsum mi viverra neque, at fermentum lorem mi et purus.
            </div>
            <div class='comments name submitted' type="text" value="Name" readonly>William Mckinley</div>
          </div>
          <br>
          <br>
          <div style="padding:10px; border: solid 1px;">
            <div class='comments body submitted' type="text" value="comment" readonly>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor justo vitae justo dignissim vestibulum. Fusce eleifend enim vitae tellus semper consectetur. Vestibulum nec lacus lorem. Proin in facilisis augue. Praesent pellentesque quam urna, eu placerat justo viverra ac. Aenean a condimentum velit. Aliquam posuere, leo nec semper porta, mauris libero tincidunt ipsum, at ultrices quam leo sit amet diam. Vestibulum feugiat orci eu velit cursus, sed aliquam dui interdum. Fusce sit amet lacus auctor, suscipit mi vel, cursus diam. Nunc eu hendrerit metus. Phasellus in facilisis lacus. Morbi viverra, eros eu feugiat vehicula, ipsum mi viverra neque, at fermentum lorem mi et purus.
            </div>
            <div class='comments name submitted' type="text" value="Name" readonly>Benjamin Harrison</div>
          </div>
          <br>
          <br>
          </accordion-group>
          </accordion>
        </div>
      </tab>
   </tabset>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
