<section data-ng-controller="ApplicationsController" data-ng-init="find();">

   <div class="page-header">
       <h1>Your Assigned Graduate Applications</h1>
   </div>

   <div class="alert alert-warning text-center" data-ng-hide="!applications.$resolved || applications.length">
      You have not yet been assigned any graduate applications.
   </div>

   <div data-ng-show="!applications.$resolved">
      <div class="progress">
         <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            Loading applications...
         </div>
      </div>
   </div>

   <div class="application-portal" data-ng-show="applications.$resolved">
      <div class="application-controls well">
         <input type="button" value="Configure Columns" data-ng-click="configColumns()">
      </div>

      <script type="text/ng-template" id="nopager">
      </script>

      <div class="application-listing">
         <table
            class="table table-condensed table-bordered table-hover"
            template-pagination="nopager"
            ng-table>
            <thead>
               <tr>
                  <th
                     data-ng-repeat="column in columns"
                     data-ng-show="column.visible">{{column.shortname}}</th>
               </tr>
            </thead>
            <tr
               data-ng-repeat="application in applications"
               data-ng-href="#!/applications/{{application._id}}"
               data-ng-click="viewPage()"
               class="application-row">
               <td
                  data-ng-repeat="column in columns"
                  data-ng-attr-data-title="{{column.name}}"
                  data-ng-show="column.visible">
                  {{getColumnValueForApplication(column, application)}}
               </td>
            </tr>
         </table>
      </div>
   </div>

</section>
