<section data-ng-controller="SuperheroesController" data-ng-init="findOne()">

	<table>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
		<tr ng-repeat="n in
			[
				'name',
				'gpa',
				'fe',
				'gmat',
				'gre',
				'ielts',
				'melab',
				'toefl',
				'tse'
			]
		">
			<td data-ng-bind='n'></td>
			<td data-ng-bind='superhero[n]'></td>
		</tr>
	</table>

	<div class="pull-right" data-ng-show="authentication.user._id == superhero.user._id">
		<a class="btn btn-primary" href="/#!/superheroes/{{superhero._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	
	<div class="text-muted">
		Posted on 
		<span data-ng-bind="superhero.created | date:'mediumDate'"></span>
		by
		<span data-ng-bind="superhero.user.displayName"></span>
	</div>
</section>
