.application-listing {
   overflow-x: auto;
}

.application-row {
   cursor: pointer;
}

.applicationDetail .value {
   padding-left: .5em;
}

.applicationDetail h1 {
   float: left;
}

.applicationFooter {
   clear: both;
}
.comments.name {
	padding: 2px;
	font-family: Tahoma, sans-serif;
	resize: none;
	margin-top: 10px;
	margin-bottom: 2px;
	border: solid 0.5 px;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.comments.name.submitted {
	padding: 2px;
	font-family: Tahoma, sans-serif;
	resize: none;
	margin-top: 10px;
	margin-bottom: 2px;
	border: solid 0.5 px;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   float: right;
}
.comments.body {
	padding: 2px;
	font-family: Tahoma, sans-serif;
	resize: none;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comments.body.submitted {
	padding-top: 2px;
	font-family: Tahoma, sans-serif;
	resize: none;
	margin-top: 2px;
	margin-bottom: 10px;
    border: hidden;
}
.comments {
	margin-bottom: 10px;
}

/* Column Selector */

.columnSelectorTable {
   width: 100%;
}

.columnSelectorTable tr td, .columnSelectorTable tr th {
   border: 1px solid black;
   padding: 5px;
}

.columnSelectorTable thead *,
.columnSelectorTable tbody tr td:last-child {
   text-align: center;
}

.columnSelectorTable tr > *:first-child {
   width: 100%;
}
