<section data-ng-controller="GradApplicationsController">
    <div class="page-header">
        <h1>New Applicant</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                
                <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>

                <label class="control-label" for="nation_of_citizenship">Nation of citizenship</label>
                    <div class="controls">
                        <select data-ng-model="personal_info.nation_of_citizenship" data-ng-options="pair[0] as pair[1] for pair in countries" id="nation_of_citizenship" class="form-control" required>
                           <option value=''>-- Select country --</option>
                        </select>
                    </div>

                <label class="control-label" for="ufid">UFID (if you have one)</label>
                    <div class="controls">
                        <input type="text" data-ng-model="personal_info.UFID" id="ufid" class="form-control" placeholder="UFID">
                    </div>
                    
                <label class="control-label" for="gpa">Self-reported unweighted GPA</label>
                    <div class="controls">
                        <input type="number" min = "0" max = "4" step = ".01" data-ng-model="education_and_activities.self_reported_GPA" id="gpa" class="form-control" placeholder="GPA" required>
                    </div>
                    
                <label class="control-label" for="name">FE</label>
                    <div class="controls">
                        <input type="number" min = "-1" data-ng-model="education_and_activities.test_scores.FE" id="fe" class="form-control" placeholder="FE" required>
                    </div>
                    
                <label class="control-label" for="name">GMAT</label>
                    <div class="controls">
                        <input type="number" min = "-1" data-ng-model="education_and_activities.test_scores.GMAT" id="gmat" class="form-control" placeholder="GMAT" required>
                    </div>
                    
                <label class="control-label" for="name">GRE</label>
                    <div class="controls">
                        <input type="number" min = "-1" max = "800" step = "1" data-ng-model="education_and_activities.test_scores.GRE" id="gre" class="form-control" placeholder="GRE" required>
                    </div>
                    
                <label class="control-label" for="name">IELTS</label>
                    <div class="controls">
                        <input type="number" min = "-1" data-ng-model="education_and_activities.test_scores.IELTS" id="ielts" class="form-control" placeholder="IELTS" required>
                    </div>
                    
                <label class="control-label" for="name">MELAB</label>
                    <div class="controls">
                        <input type="number" min = "-1" data-ng-model="education_and_activities.test_scores.MELAB" id="melab" class="form-control" placeholder="MELAB" required>
                    </div>
                    
                <label class="control-label" for="name">TOEFL</label>
                    <div class="controls">
                        <input type="number" min = "-1" data-ng-model="education_and_activities.test_scores.TOEFL" id="toefl" class="form-control" placeholder="TOEFL" required>
                    </div>
                    
                <label class="control-label" for="name">TSE</label>
                    <div class="controls">
                        <input type="number" min = "-1" data-ng-model="education_and_activities.test_scores.TSE" id="tse" class="form-control" placeholder="TSE" required>
                    </div>
                    
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
