<section data-ng-controller="GradApplicationsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Existing Graduate Applications</h1>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Unweighted GPA</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr data-ng-repeat="gradApplication in gradApplications" data-ng-href="#!/gradApplications/{{gradApplication._id}}" data-ng-click="viewPage()" class="gradApplicationListing">
            <td>
                <h3 class="list-group-item-heading">
                   <span data-ng-bind="gradApplication.personal_info.name.first"></span>
                   <span data-ng-bind="gradApplication.personal_info.name.last"></span>
                </h3> 
                <!--
                <h2> <u> GPA: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.gpa"></h3>
                
                <h2> <u> FE: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.fe"></h3>
                
                <h2> <u> GMAT: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.gmat"></h3>
        
                <h2> <u> GRE: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.gre"></h3>
                
                <h2> <u> IELTS: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.ielts"></h3>
                
                <h2> <u> MELAB: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.melab"></h3>
                
                <h2> <u> TOEFL: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.toefl"></h3>
                
                <h2> <u> TSE: </u> </h2>
                <h3 class="list-group-item-heading" data-ng-bind="gradApplication.tse"></h3>
                -->
            </td>

            <td data-ng-bind="gradApplication.education_and_activities.self_reported_GPA"></td>

            <td>
                <a href="javascript:;" data-ng-click="downloadPDF()">Download PDF</a>
            </td>

        </tr>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!gradApplications.$resolved || gradApplications.length">
    	No Grad Applications yet, why don't you <a href="/#!/gradApplications/create">create one</a>?
    </div>
</section>
