<section data-ng-controller="GradApplicationsController" data-ng-init="findOne(); fields = [
				{
               disp: 'First Name',
               field: 'personal_info.name.first'
            },
				{
               disp: 'Self-reported unweighted GPA',
               field: 'education_and_activities.self_reported_GPA'
            },
				{
               disp: 'FE Exam Score',
               field: 'education_and_activities.test_scores.FE'
            },
				{
               disp: 'GMAT Exam Score',
               field: 'education_and_activities.test_scores.GMAT'
            },
				{
               disp: 'GRE Exam Score',
               field: 'education_and_activities.test_scores.GRE'
            },
				{
               disp: 'IELTS Exam Score',
               field: 'education_and_activities.test_scores.IELTS'
            },
				{
               disp: 'MELAB Exam Score',
               field: 'education_and_activities.test_scores.MELAB'
            },
				{
               disp: 'TOEFL Exam Score',
               field: 'education_and_activities.test_scores.TOEFL'
            },
				{
               disp: 'TSE Exam Score',
               field: 'education_and_activities.test_scores.TSE'
            }
			]">

   <div ng-repeat="n in fields">
      <div class="page-header gradApplicationDetail" style="clear: both">
         <h1 data-ng-bind='n.disp+": "'></h1>
         <h1 class="value" data-ng-bind='getprop(gradApplication, n.field, "")'> </h1>
      </div>
   </div>

   <div class="gradApplicationFooter"></div>
	
</section>
