<section data-ng-controller="GradApplicationsController" data-ng-init="findOne(); fields = [
				{
               disp: 'First Name',
               field: 'personal_info.name.first'
            },
				{
               disp: 'Self-reported unweighted GPA',
               field: 'education_and_activities.self_reported_GPA'
            },
				{
               disp: 'FE Exam Score',
               field: 'education_and_activities.test_scores.FE'
            },
				{
               disp: 'GMAT Exam Score',
               field: 'education_and_activities.test_scores.GMAT'
            },
				{
               disp: 'GRE Exam Score',
               field: 'education_and_activities.test_scores.GRE'
            },
				{
               disp: 'IELTS Exam Score',
               field: 'education_and_activities.test_scores.IELTS'
            },
				{
               disp: 'MELAB Exam Score',
               field: 'education_and_activities.test_scores.MELAB'
            },
				{
               disp: 'TOEFL Exam Score',
               field: 'education_and_activities.test_scores.TOEFL'
            },
				{
               disp: 'TSE Exam Score',
               field: 'education_and_activities.test_scores.TSE'
            }
			]">

   <div ng-repeat="n in fields">
      <div class="page-header gradApplicationDetail" style="clear: both">
         <h1 data-ng-bind='n.disp+": "'></h1>
         <h1 class="value" data-ng-bind='getprop(gradApplication, n.field, "")'> </h1>
      </div>
   </div>

   <div class="gradApplicationFooter"></div>




<br>
<br>
<br>

<textarea name="myComment" cols="50" rows="5">
This textbox has been given a name of "myTextBox". This can be used by any script that process the contents of this textbox (once it's been submitted to the server).
</textarea>

<br>

Name: <input type="text" id="myName" value="Name">

<p>Click the button to post a comment.</p>

<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
   document.getElementById("myComment").value = "Woo ha!";
    document.getElementById("myName").value = "Johnny Bravo";
}
</script>

<br>
<br>
<br>
<p> Percentiles: </p>
<br>

<p> GRE Overall: </p>
<p> GRE Math: </p>
<p> GRE Reading: </p>
<p> GRE Writing: </p>

<br>

<p> TOEFL Overall: </p>
<p> TOEFL Reading: </p>
<p> TOEFL Listening: </p>
<p> TOEFL Speaking: </p>
<p> TOEFL Writing: </p>



  <p>
    <button class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Select second tab</button>
    <button class="btn btn-default btn-sm" ng-click="tabs[1].active = true">Select third tab</button>
  </p>
  <p>
    <button class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
  </p>
  <hr />

  <tabset>
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
    <tab select="alertMe()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>
  </tabset>

  <hr />

  <tabset vertical="true" type="pills">
    <tab heading="Vertical 1">Vertical content 1</tab>
    <tab heading="Vertical 2">Vertical content 2</tab>
  </tabset>

  <hr />

  <tabset justified="true">
    <tab heading="Justified">Justified content</tab>
    <tab heading="SJ">Short Labeled Justified content</tab>
    <tab heading="Long Justified">Long Labeled Justified content</tab>
  </tabset>



	
</section>
